[submodule "public"]
   path = public
   url = "https://github.com/sub-chandra/sub-chandra.github.io.git"
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/sub-chandra/gohugo-theme-ananke.git
[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/sub-chandra/hugo-theme-stack.git
